:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

.boujee-text {
    --bg-size: 400%;
    --color-one: hsl(202, 90%, 62%);
    --color-two: hsl(156, 69%, 52%);
    /* font-family: sans-serif; */
    /* font-size: clamp(3rem, 25vmin, 8rem); */
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .boujee-text {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }

.profile-img {
    max-width: 50%;
    height: auto;
}

.marquee {
  width: 15em;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1;
}